<!DOCTYPE html>
<html>
<body>
    <a href="/casting"><button class="btn btn-lg">Homepage</button></a>
    <br>
<div class="form-wrapper">
    <form method="post" class="form">
      <h3 class="form-heading">Create a New Actor</h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
      </div>
      <br>
      <div class="form-group">
        <label for="age">Age</label>
        {{ form.age(class_ = 'form-control', autofocus = true) }}
      </div>
      <br>
      <div class="form-group">
        <label for="gender">Gender</label>
        {{ form.gender(class_ = 'form-control', autofocus = true) }}
      </div>
      <br>
      <input type="submit" value="Create Actor" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>

</body>
</html>
